<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arloor.nywc.dao.CardMapper" >
    <resultMap id="cardDetails" type="com.arloor.nywc.model.CardDetail">
        <id column="dkey" property="dkey"/>
        <result column="dname" property="dname"/>
        <result column="dinfo" property="dinfo"/>
        <result column="imageURL" property="imageURL"/>
        <result column="nickName" property="nickName"/>
        <result column="avatarURL" property="avatarURL"/>
        <result column="numLike" property="numLike"/>
        <result column="numDislike" property="numDislike"/>
        <result column="uploadTime" property="uploadTime"/>
        <result column="seconds" property="seconds"/>
        <result column="theme" property="theme"/>
        <collection property="comments" column="dkey" ofType="com.arloor.nywc.model.DcommentModel" select="getCommentsByDkey"/>
    </resultMap>

    <select id="getCommentsByDkey"  resultType="com.arloor.nywc.model.DcommentModel">
        select member.nickName,member.avatarURL,dcomment.*
        from dcomment left join member
        on member.openId=dcomment.openIdComm
        where dkey=#{dkey};
    </select>

    <select id="getCardsDetails" resultMap="cardDetails">
        (select
        dkey,
        dname,
        member.nickName as nickName,
        member.avatarURL,
        imageURL,
        dinfo,
        uploadTime,
        seconds,
        numLike,
        numDislike,
        design.theme
        from design
        left join member on design.openId = member.openId
        where seconds>#{maxSeconds} order by seconds ASC limit 0,3)
        union
        (select
        dkey,
        dname,
        member.nickName as nickName,
        member.avatarURL,
        imageURL,
        dinfo,
        uploadTime,
        seconds,
        numLike,
        numDislike,
        design.theme
        from design
        left join member on design.openId = member.openId
        where seconds&lt;#{minSeconds} order by seconds DESC limit 0,3)

</select>
</mapper>