<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arloor.nywc.dao.DesignMapper" >
  <resultMap id="BaseResultMap" type="com.arloor.nywc.domain.Design" >
    <id column="dkey" property="dkey" jdbcType="VARCHAR" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="imageURL" property="imageURL" jdbcType="VARCHAR" />
    <result column="dstatus" property="dstatus" jdbcType="VARCHAR" />
    <result column="dinfo" property="dinfo" jdbcType="VARCHAR" />
    <result column="dTempInfo" property="dTempInfo" jdbcType="VARCHAR" />
    <result column="seconds" property="seconds" jdbcType="VARCHAR" />
    <result column="uploadTime" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="numLike" property="numLike" jdbcType="INTEGER" />
    <result column="numDislike" property="numDislike" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    dkey, openId, dname, imageURL, dstatus, dinfo, dTempInfo, seconds, uploadTime, theme, 
    numLike, numDislike
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from design
    where dkey = #{dkey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from design
    where dkey = #{dkey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.arloor.nywc.domain.Design" >
    insert into design (dkey, openId, dname, 
      imageURL, dstatus, dinfo, 
      dTempInfo, seconds, uploadTime, 
      theme, numLike, numDislike
      )
    values (#{dkey,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{dname,jdbcType=VARCHAR}, 
      #{imageURL,jdbcType=VARCHAR}, #{dstatus,jdbcType=VARCHAR}, #{dinfo,jdbcType=VARCHAR}, 
      #{dTempInfo,jdbcType=VARCHAR}, #{seconds,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, 
      #{theme,jdbcType=VARCHAR}, #{numLike,jdbcType=INTEGER}, #{numDislike,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.arloor.nywc.domain.Design" >
    insert into design
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dkey != null" >
        dkey,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="dname != null" >
        dname,
      </if>
      <if test="imageURL != null" >
        imageURL,
      </if>
      <if test="dstatus != null" >
        dstatus,
      </if>
      <if test="dinfo != null" >
        dinfo,
      </if>
      <if test="dTempInfo != null" >
        dTempInfo,
      </if>
      <if test="seconds != null" >
        seconds,
      </if>
      <if test="uploadTime != null" >
        uploadTime,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="numLike != null" >
        numLike,
      </if>
      <if test="numDislike != null" >
        numDislike,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dkey != null" >
        #{dkey,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="dname != null" >
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="imageURL != null" >
        #{imageURL,jdbcType=VARCHAR},
      </if>
      <if test="dstatus != null" >
        #{dstatus,jdbcType=VARCHAR},
      </if>
      <if test="dinfo != null" >
        #{dinfo,jdbcType=VARCHAR},
      </if>
      <if test="dTempInfo != null" >
        #{dTempInfo,jdbcType=VARCHAR},
      </if>
      <if test="seconds != null" >
        #{seconds,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="numLike != null" >
        #{numLike,jdbcType=INTEGER},
      </if>
      <if test="numDislike != null" >
        #{numDislike,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arloor.nywc.domain.Design" >
    update design
    <set >
      <if test="openId != null" >
        openId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="dname != null" >
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="imageURL != null" >
        imageURL = #{imageURL,jdbcType=VARCHAR},
      </if>
      <if test="dstatus != null" >
        dstatus = #{dstatus,jdbcType=VARCHAR},
      </if>
      <if test="dinfo != null" >
        dinfo = #{dinfo,jdbcType=VARCHAR},
      </if>
      <if test="dTempInfo != null" >
        dTempInfo = #{dTempInfo,jdbcType=VARCHAR},
      </if>
      <if test="seconds != null" >
        seconds = #{seconds,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        uploadTime = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="numLike != null" >
        numLike = #{numLike,jdbcType=INTEGER},
      </if>
      <if test="numDislike != null" >
        numDislike = #{numDislike,jdbcType=DECIMAL},
      </if>
    </set>
    where dkey = #{dkey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arloor.nywc.domain.Design" >
    update design
    set openId = #{openId,jdbcType=VARCHAR},
      dname = #{dname,jdbcType=VARCHAR},
      imageURL = #{imageURL,jdbcType=VARCHAR},
      dstatus = #{dstatus,jdbcType=VARCHAR},
      dinfo = #{dinfo,jdbcType=VARCHAR},
      dTempInfo = #{dTempInfo,jdbcType=VARCHAR},
      seconds = #{seconds,jdbcType=VARCHAR},
      uploadTime = #{uploadTime,jdbcType=TIMESTAMP},
      theme = #{theme,jdbcType=VARCHAR},
      numLike = #{numLike,jdbcType=INTEGER},
      numDislike = #{numDislike,jdbcType=DECIMAL}
    where dkey = #{dkey,jdbcType=VARCHAR}
  </update>
    <update id="minusNumLike">
      update design set numLike=numLike-1 where dkey=#{dkey}
    </update>

  <update id="addNumLike">
      update design set numLike=numLike+1 where dkey=#{dkey}
    </update>
</mapper>