<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arloor.nywc.dao.MiaoshaRecordMapper" >
  <resultMap id="BaseResultMap" type="com.arloor.nywc.domain.MiaoshaRecord" >
    <id column="recordId" property="recordId" jdbcType="INTEGER" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    recordId, openId, pname, startTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from miaosha_record
    where recordId = #{recordId,jdbcType=INTEGER}
  </select>
  <select id="selectMiaoshaRecordsByopenId"  resultType="com.arloor.nywc.domain.MiaoshaRecord" >
    select * from miaosha_record where openId=#{openId} order by startTime DESC;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from miaosha_record
    where recordId = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arloor.nywc.domain.MiaoshaRecord"
          useGeneratedKeys="true" keyProperty="recordId"
  >
    insert into miaosha_record (openId, pname,
      startTime)
    values ( #{openId,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR},
      #{startTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.arloor.nywc.domain.MiaoshaRecord"
    useGeneratedKeys="true" keyProperty="recordId"
  >
    insert into miaosha_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        recordId,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arloor.nywc.domain.MiaoshaRecord" >
    update miaosha_record
    <set >
      <if test="openId != null" >
        openId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where recordId = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arloor.nywc.domain.MiaoshaRecord" >
    update miaosha_record
    set openId = #{openId,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      startTime = #{startTime,jdbcType=TIMESTAMP}
    where recordId = #{recordId,jdbcType=INTEGER}
  </update>
</mapper>