<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arloor.nywc.dao.MiaoshaActivityMapper" >
  <resultMap id="BaseResultMap" type="com.arloor.nywc.domain.MiaoshaActivity" >
    <id column="pname" property="pname" jdbcType="VARCHAR" />
    <id column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pname, startTime, num, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.arloor.nywc.domain.MiaoshaActivityKey" >
    select 
    <include refid="Base_Column_List" />
    from miaosha_activity
    where pname = #{pname,jdbcType=VARCHAR}
      and startTime = #{startTime,jdbcType=TIMESTAMP}
  </select>
  <select id="selectMiaoshaByTime" resultMap="BaseResultMap" parameterType="com.arloor.nywc.domain.MiaoshaActivityKey">
    select
    <include refid="Base_Column_List" />
    from miaosha_activity
    where startTime = #{startTime,jdbcType=TIMESTAMP}
  </select>
  <select id="selectMiaoshaUnend" resultMap="BaseResultMap" >
    SELECT * FROM miaosha_activity WHERE status &lt;> "已经结束";
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.arloor.nywc.domain.MiaoshaActivityKey" >
    delete from miaosha_activity
    where pname = #{pname,jdbcType=VARCHAR}
      and startTime = #{startTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.arloor.nywc.domain.MiaoshaActivity" >
    insert into miaosha_activity (pname, startTime, num, 
      status)
    values (#{pname,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{num,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arloor.nywc.domain.MiaoshaActivity" >
    insert into miaosha_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pname != null" >
        pname,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arloor.nywc.domain.MiaoshaActivity" >
    update miaosha_activity
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where pname = #{pname,jdbcType=VARCHAR}
      and startTime = #{startTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arloor.nywc.domain.MiaoshaActivity" >
    update miaosha_activity
    set num = #{num,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where pname = #{pname,jdbcType=VARCHAR}
      and startTime = #{startTime,jdbcType=TIMESTAMP}
  </update>
  <update id="setEnd">
    UPDATE miaosha_activity
    SET status="已经结束"
    WHERE pname=#{pname} and startTime=#{miaoshaDate}
  </update>
</mapper>