<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arloor.nywc.dao.MyTicketMapper" >
  <resultMap id="BaseResultMap" type="com.arloor.nywc.domain.MyTicket" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="openId" property="openId" jdbcType="VARCHAR" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="ticketStatus" property="ticketStatus" jdbcType="VARCHAR" />
    <result column="getTime" property="getTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, openId, tname, ticketStatus, getTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from myTicket
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from myTicket
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arloor.nywc.domain.MyTicket" >
    insert into myTicket (tid, openId, tname, 
      ticketStatus, getTime)
    values (#{tid,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR}, 
      #{ticketStatus,jdbcType=VARCHAR}, #{getTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.arloor.nywc.domain.MyTicket" >
    insert into myTicket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="openId != null" >
        openId,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="ticketStatus != null" >
        ticketStatus,
      </if>
      <if test="getTime != null" >
        getTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="ticketStatus != null" >
        #{ticketStatus,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null" >
        #{getTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arloor.nywc.domain.MyTicket" >
    update myTicket
    <set >
      <if test="openId != null" >
        openId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="ticketStatus != null" >
        ticketStatus = #{ticketStatus,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null" >
        getTime = #{getTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arloor.nywc.domain.MyTicket" >
    update myTicket
    set openId = #{openId,jdbcType=VARCHAR},
      tname = #{tname,jdbcType=VARCHAR},
      ticketStatus = #{ticketStatus,jdbcType=VARCHAR},
      getTime = #{getTime,jdbcType=TIMESTAMP}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>