<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arloor.nywc.dao.StarProductMapper" >
  <resultMap id="BaseResultMap" type="com.arloor.nywc.domain.StarProductKey" >
    <id column="openId" property="openId" jdbcType="VARCHAR" />
    <id column="pname" property="pname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.arloor.nywc.domain.StarProductKey" >
    delete from starProduct
    where openId = #{openId,jdbcType=VARCHAR}
      and pname = #{pname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.arloor.nywc.domain.StarProductKey" >
    insert into starProduct (openId, pname)
    values (#{openId,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arloor.nywc.domain.StarProductKey" >
    insert into starProduct
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        openId,
      </if>
      <if test="pname != null" >
        pname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>